@import "_bootstrap.scss";

/* Variabls
-------------------------------------------------- */
$primary-color:#3b5a76;
$background-color:#ededed;
$text-color:#363636 !important;
$font:16px;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
body{
    font-family: 'Open Sans', Arial, Tahoma;
    color: $text-color;
    background: $background-color;
    font-size: $font;
}
.primary, strong, h2 {
    color:$primary-color;
}
.container-main {
    background-color: #FFF;
    margin-top: 125px;
    padding: 0 30px 30px 30px;
}
.profile-img {
    margin: auto;
    margin-top: -100px;
    width: 200px;
}
hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 75px;
}
ul.contact-list {
    font-size: 22px;
    list-style: none;
}