@import "_bootstrap.scss";

/* Variabls
-------------------------------------------------- */
$primary-color:#3b5a76;
$background-color:#ededed;
$text-color:#363636 !important;
$font:16px;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $background-color;
}


/* Custom page CSS
-------------------------------------------------- */
body{
    font-family: 'Open Sans', Arial, Tahoma;
    color: $text-color;
    background: $background-color;
    font-size: $font;
}
h2 {
    font-weight: 700;
    text-transform: uppercase;
}
.primary, strong, h2 {
    color:$primary-color;
}
.container-main {
    background-color: #FFF;
    margin-top: 125px;
    padding: 0 30px 30px 30px;
    border-radius: 10px;
}
.container-pimg {
    width: 200px; 
    height: 200px;
    border-radius:100%; 
    margin:auto; 
    display:block;
    margin: -100px auto 25px;
    display: block;
    background-color: $background-color;
    text-align: center;
}
.profile-img {
    margin: 0 10px 0 15px;
    width: 115px;
}
header {
    min-height: 100px;
    overflow: auto;
}
header h1 {
    margin: 0;
    padding: 20px 0 5px 0;
    font-size: 2.2em;
    //font-weight: 700;
    //text-transform: uppercase;
    text-align: center;
    line-height: 1.4em;
}
hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 75px;
}
ul.contact-list {
    font-size: 22px;
    list-style: none;
}
ul.contact-list li a, ul.contact-list li a:hover {
    color: $text-color;
    text-decoration: none;
}
.xp-time {
    padding-top: 8px;
}
.xp {
    font-size: 1.6em;
}
.xp-title {
    font-size: 0.6em;
    color: #6c6c6c;
    margin-left: 25px;
}
table {
    border-collapse: inherit;
    border-spacing: 10px;
}
.xp-type {
    width: 150px;
    vertical-align: top;
    color: #6c6c6c;
    font-weight: 700;
}
.top-space {
    margin-top: 35px;
}
.right-padding {
    padding-right: 15px;
}
.text-muted {
    margin-top: 20px;
}